<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px;width: 100%;">
    <a class="navbar-brand" href="#" style="margin-left: 20px;">Baabtra</a>
    <button class=" navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto " style="margin-left: 800px; ">
            <li class=" nav-item active ">
                <a class="nav-link " href="# ">Home </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">Placements</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="# ">About Us</a>
            </li> -->
<!-- <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle " href="# " role="button " data-toggle="dropdown " aria-expanded="false ">
            Dropdown
          </a>
                <div class="dropdown-menu ">
                    <a class="dropdown-item " href="# ">Action</a>
                    <a class="dropdown-item " href="# ">Another action</a>
                    <div class="dropdown-divider "></div>
                    <a class="dropdown-item " href="# ">Something else here</a>
                </div>
            </li> -->
<!-- <li class="nav-item ">
    <a class="nav-link  ">Blog</a>
</li>
<li class="nav-item ">
    <a class="nav-link  ">Login</a>
</li>
</ul>

</div>
</nav> -->


<!-- <input type="text" [(ngModel)]="username"> {{username}} -->


<!-- ngModel or Two Way Binding -->
<!-- <select name="" id="" [(ngModel)]="color">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="yellow">Yellow</option>
    <option value="black">Black</option>
</select>

<div [style.background-color]="color">
    <p>
        Para
    </p>
</div> -->

<!-- innerHTML ngModel -->
<select name="" id="" [(ngModel)]="user">
    <option value="faisan">Faisan</option>
    <option value="arjun">Arjun</option>
    <option value="rishel">Rishel</option>
    <option value="nithin">Nithin</option>
</select>

<!-- <div [style.innerHtml]="user"> -->
<p>
    {{user}}
</p>
<!-- </div> -->




<input [(ngModel)]="copy">
<strong>{{copy}}</strong>
<input value="{{copy}}">