<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/AngularJS-Shield.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Angular</p>
                    <a [routerLink]="'/course/1'" type="button">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/AngularJS-Shield.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Python</p>
                    <a [routerLink]="'/course/2'" type="button">Click</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/AngularJS-Shield.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">PHP</p>
                    <a [routerLink]="'/course/3'" type="button">Click</a>
                </div>
            </div>
        </div>
    </div>
</div>