<!-- <div *ngIf="isauthenticated; then h1 else h2">
</div>
<ng-template #h1>

    Hai Iam Faisan

</ng-template>

<ng-template #h2>

    Moorad Vadakara

</ng-template> -->


<!-- *ngFor Example -->
<!-- <table class="table table-primary">
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>phone</th>
        <th>class</th>
        <th>division</th>
    </tr>
    <tr *ngFor="let s of studentDetails">
        <td>{{s.studentName}}</td>
        <td>{{s.email}}</td>
        <td>{{s.phone}}</td>
        <td>{{s.class}}</td>
        <td>{{s.division}}</td>
    </tr>
</table>
<button class="btn btn-danger"></button> -->




<!-- *ngSwitch Example-->

<!-- <div [ngSwitch]='color'>
    <p style=" color:green; " *ngSwitchCase=" 'green' ">green</p>
    <p style="color:blue; " *ngSwitchCase=" 'blue' ">blue</p>
    <p style="color:red; " *ngSwitchCase=" 'red' ">red</p>
    <p *ngSwitchDefault>Default</p>
</div> -->

<!-- Attribute Binding-->
<!-- <table border="1px" class="table-border">
    <tr>
        <th [attr.colspan]=2>Name</th>
    </tr>
    <tr>
        <td>ff</td>
        <td>ddd</td>
    </tr>

</table> -->

<!-- Property Binding -->
<!-- <button class="btn btn-primary" [disabled]="ishidden">Click</button> -->
<!-- <section>
    <app-navbar>/</app-navbar>
</section> -->

<!-- <section>
    <app-body></app-body>
</section>
<section style="margin-top: 40px;">
    <app-course></app-course>
</section>
<section style="margin-top: 10px;">
    <app-contact></app-contact>
</section>
<section style="margin-top: 10px;">
    <app-footer></app-footer>
</section> -->

<!-- Style Binding -->
<!-- <div [style.background-color]="isFailed?'red':'yellow'">
    hello
</div> -->

<!-- ngStyle -->
<!-- <div [ngStyle]="{'background-color':'red','color':'blue','font-size':'19px'}">
    hai
</div> -->

<!-- ngClass -->
<!-- <div [ngClass]="isPass?'pass':'fail'">
    Pass
</div> -->

<!-- Interpolation -->
<!-- <p>Hello {{user}}</p> -->

<!-- Class -->
<!-- <p [class.cls]="active" #p1>
    Pass
</p> -->

<!-- Event Binding -->
<!-- <button (click)="clickme(p1)">Click</button> -->

<!-- <router-outlet></router-outlet> -->
<section style="margin-top: 10px;">
    <!-- <app-placement>
    </app-placement> -->
    <app-signup></app-signup>
</section>